<!DOCTYPE html>
<html>
    <head>
        
        <<title>Birddog Innovations</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200" rel='stylesheet' type='text/css'>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
    </head>
    <body>
        <div class="navbar">
            <img src="/assets/birddog.png"/>
        </div>
        <div class="top shadow"></div>
        <div class="hero">
            <img src="/assets/workspace.png"/>
        </div>
        <div class="wrapper">
            <div class="shadow"></div>
            <div class="section light">
                <div class="tile">
                    <img src="/assets/icon/photography.png"/>
                    <p>Photography</p>
                </div>
                <div class="tile">
                    <img src="/assets/icon/graphicdesign.png"/>
                    <p>Graphic design</p>
                </div>
                <div class="tile">
                    <img src="/assets/icon/digitalmedia.png"/>
                    <p>Digital media</p>
                </div>
                <div class="tile">
                    <img src="/assets/icon/responsiveweb.png"/>
                    <p>Responsive web</p>
                </div>
            </div>
            <div class="section dark">
                <h1>How we do what we do</h1>
                <p>Before we ever begin crafting a custom design solution, we take the time to understand you, our client. What are your hopes? Your dreams? Your passions? Only once we know who you are and what you believe in do we begin our design process. But the conversation doesn't end there. At Birddog, we believe in good design. And we believe that there is no substitute for open and honest communication throughout the design process to ensure that our solutions can make a meaningful difference in the lives of our clients and their pursuits. No project is too small or large for us. Each and every project receives the same obsessive attention to detail, and we guarantee that our carefully-crafted and well-executed results will speak for themselves.</p>
            </div>
            <div class="section light">
                <h1>Let's start a conversation</h1>
                <p>If you like what you've seen so far, and you're interested in learning more about what Birddog can do for you, <a href="mailto:contact@birddoginnovations.com">drop us a line</a>. Just start by explaining a little bit about yourself, your project, and what sort of budget you're working with, and we'll get the ball rolling from there. Depending on the scope and scale of your project, we're happy to travel to meet and work with you in-person, but are equally capable of working remotely -- we routinely do both.</p>
            </div>
            <div class="section light special">
                <img src="/assets/bostonbridge.png"/>
            </div>
            <div class="footer">
                BUILT BOSTON STRONG
            </div>
        </div>
    </body>
    <script src="/js/scripts.js" type="text/javascript"></script>
</html>
